<div class="card">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <div class="p-formgroup-inline">
      <h2>Login</h2>
      <input matInput type="email" placeholder="Email" formControlName="email" class="input-field">
      <input matInput type="password" placeholder="Password" formControlName="password" class="input-field">
      <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid" class="submit-button">Valider</button>
      <div>
        <p>Aucun compte? <a routerLink="/register" class="">Inscription</a></p>
      </div>
    </div>
  </form>
</div>
