.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.login-form {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
}

/* Ajoutez ces styles supplémentaires pour centrer le contenu de la carte */
.login-form .p-formgroup-inline {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin-bottom: 10px;
}
